body{
    margin: 0;
    cursor: default;
}

.main-grid{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    overflow: hidden;
}

.main-grid >*{
    width: 50%;
    height: auto;
    padding: 2rem;
}

.top-left{
    background-color: white;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: s-resize;
}

.top-left::-webkit-scrollbar {
  display: none;         
}

.top-left >*{
    display: none;
}

.bottom-right, #backRight{
    border-left: solid 2px black;
    background-color: #E1DEDB;
    transition-duration: 500ms;
}

#funds-link{
    text-decoration: underline;
}

nav >*{
    width: fit-content;
}

nav >*:hover{
    text-decoration: underline;
    cursor: pointer;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.genres >*{
    display: inline;
}

.genres >*:hover{
    text-decoration: underline;
    cursor: pointer;
}

.slider{
    width: 100%;
}

@media screen and (orientation: portrait) {
    .main-grid{
        flex-direction: column;
    }
    .main-grid >*{
        height: 50%;
        width: auto;
    }
    .bottom-right, #backRight{
        border-top: solid 0.5px black;
        border-left: none;
    }


}

