/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    cursor: default;
}

/* Main HTML */
h1{
    font-family: Montserrat;
}

h2{
    font-family: Montserrat;
}

/* Containers */
.main-grid{
    display: flex;
    flex-direction: row;
    height: 100dvh;
    overflow: hidden;
}

.main-grid >*{
    width: 50%;
    height: auto;
    padding: 2rem;
}

.top-left{
    background-color: white;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: s-resize;
}

.top-left::-webkit-scrollbar {
  display: none;         
}

.top-left >*{
    display: none;
}

.bottom-right, #backRight{
    border-left: solid 2px black;
    background-color: #E1DEDB;
    transition-duration: 500ms;
}

#fundsLink{
    text-decoration: underline;
}

#funds{
    display: block;
}

nav >*{
    width: fit-content;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-weight: 500;
}

nav >*:hover{
    text-decoration: underline;
    cursor: pointer;
}

.flex{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

.genres{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    letter-spacing: 2px;
}

.genres >*{
    display: inline;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
}

.genres >*:hover{
    text-decoration: underline;
    cursor: pointer;
}

.slider{
    width: 100%;
}

@media screen and (orientation: portrait) {
    .main-grid{
        flex-direction: column;
    }
    .main-grid >*{
        height: 50%;
        width: auto;
    }
    .bottom-right, #backRight{
        border-top: solid 0.5px black;
        border-left: none;
    }


}

